# Default ignored files
/../../../../../../../../:imovito/.idea/shelf/
/../../../../../../../../:imovito/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:imovito/.idea/httpRequests/
